/* RESET CSS */
*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* a {
    color: inherit;
    text-decoration: none;
} */
a:hover{
    font-weight: 600;
}
ul {
    list-style: none;
}

/* body{
    background-color: red;
} */


/*Footer start*/
footer {
    background-color: black;
    border-top: #fff solid 1px;
    height: auto;
    position: fixed;
    bottom: 0;
    color: #fff;
}
.separator {
    margin-top: 10px;
    height: 1px;
    width: 20%;
    border: none;
    background: #fff;
    margin: auto;
}
.copyright {
    font-size: 0.9em;
    padding: 5px;
    margin: 0;
}
/*Footer end*/